/* Make the site full-width */

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.page-content,
.post-content,
.content,
.main-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100% !important;
}

/* Optional: image responsive */
img {
    max-width: 100%;
    height: auto;
}
